### Assignment-04 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [ ]:
list = []
print(list)

Create a list of your favorite colors and print it.

In [1]:
fav_colors = ['black', 'red', 'green']
print(fav_colors)

['black', 'red', 'green']

Create a list that includes a mix of data types (integers, strings, floats).

In [3]:
mix_list = [1, 2, 'three', 'four', 5.00, 6.12]
print(mix_list)

[1, 2, 'three', 'four', 5.0, 6.12]

Access the first element of a list.

In [4]:
mix_list = [1, 2, 'three', 'four', 5.00, 6.12]
print(mix_list[0])

1

Access the last element of a list.

In [5]:
mix_list = [1, 2, 'three', 'four', 5.00, 6.12]
print(mix_list[-1])

6.12

 Access the second and third elements of a list.

In [8]:
mix_list = [1, 2, 'three', 'four', 5.00, 6.12]
print(mix_list[1])
print(mix_list[2])
print(mix_list[1:3])

2
three
[2, 'three']


Slice a list to extract the first three elements.

In [10]:
mix_list = [1, 2, 'three', 'four', 5.00, 6.12]
print(mix_list[:3])

[1, 2, 'three']

Slice a list to extract the last three elements.

In [11]:
mix_list = [1, 2, 'three', 'four', 5.00, 6.12]
print(mix_list[3:])

['four', 5.0, 6.12]

Slice a list to get every second element.

In [16]:
mix_list = [1, 2, 'three', 'four', 5.00, 6.12]
print(mix_list[1::2])

[2, 'four', 6.12]

Reverse a list using slicing.

In [20]:
mix_list = [1, 2, 'three', 'four', 5.00, 6.12]
print(mix_list[::-1])

[6.12, 5.0, 'four', 'three', 2, 1]

 Create two lists and concatenate them.

In [21]:
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = list_1 + list_2
print(list_3)

[1, 2, 3, 4, 5, 6]


Repeat a list multiple times using the repetition operator

In [22]:
list = ['a', 'b', 'c']
reps = list * 3
print(reps)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

Add a new element to the end of a list using the append() method.

In [23]:
list = [1,2,3]
list.append(4)
print(list)

[1, 2, 3, 4]


Extend a list with elements from another list using the extend() method.

In [25]:
list_1 = [1,2,3]
list_2 = [4,5,6]
list_1.extend(list_2)
print(list_1)

[1, 2, 3, 4, 5, 6]

Insert an element at a specific index in a list using the insert() method.

In [27]:
list1 = [1,2,3]
# add 4 at 3rd index
list1.insert(3, 4)
print(list1)

[1, 2, 3, 4]

 Remove the last element from a list using the pop() method.

In [28]:
list1 = [1,2,3,4]
list1.pop()
print(list1)

[1, 2, 3]

Remove a specific element from a list using the remove() method.

In [29]:
list1 = [1,2,3,4]
list1.remove(2)
print(list1)

[1, 3, 4]

Clear all elements from a list.

In [31]:
list1 = [1,2,3,4]
list1.clear()
print(list1)

[]

Delete an element at a specific index using the del statement.

In [33]:
list1 = [1,2,3,4]
del(list1[0])
print(list1)

[2, 3, 4]

Convert a string to a list of characters and vice-versa.

In [41]:
string = "Hello World"
char_list = [char for char in string]
print("List of characters:", char_list)

List of characters: ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

Sort a list in ascending order using the sort() method.

In [42]:
list1 = [5,4,3,2,1]
list1.sort()
print(list1)

[1, 2, 3, 4, 5]

Sort a list in descending order using the sort() method.

In [45]:
list1 = [1, 2, 3, 4, 5]
list1.sort(reverse=True)
print(list1)

[5, 4, 3, 2, 1]

Reverse the order of a list using the reverse() method.

In [46]:
list1 = [1, 2, 3, 4, 5]
list1.reverse()
print(list1)

[5, 4, 3, 2, 1]

Check if an element is present in a list using the in operator.

In [49]:
list1 = [1, 2, 3, 4, 5]
if 6 in list1:
    print(list1)

Compare two lists to see if they are equal in both value and identity.

In [50]:
list1 = [1,2,3]
list2 = [1,2,3]
if list1 == list2:
    print('equal')

equal

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [54]:
original_list = [1, 2, 3, 4, 5]
shallow_copy = original_list.copy()
shallow_copy[2] = 'X'
print("Original List:", original_list)
print("Shallow Copy:", shallow_copy)

Original List: [1, 2, 3, 4, 5]
Shallow Copy: [1, 2, 'X', 4, 5]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [56]:
import copy

original_list = [1, [2, 3], [4, 5]]
deep_copy = copy.deepcopy(original_list)
deep_copy[1][0] = 'Y'
print("Original List:", original_list)
print("Deep Copy:", deep_copy)

Original List: [1, [2, 3], [4, 5]]
Deep Copy: [1, ['Y', 3], [4, 5]]

Pickle and Unpickle a list and display its content.

In [57]:
import pickle

# Define a list
original_list = [1, 2, 3, 4, 5]

# Pickle the list to a file
with open('pickled_list.pkl', 'wb') as file:
    pickle.dump(original_list, file)

# Unpickle the list from the file
with open('pickled_list.pkl', 'rb') as file:
    unpickled_list = pickle.load(file)

# Display the content
print("Original List:", original_list)
print("Unpickled List:", unpickled_list)

Original List: [1, 2, 3, 4, 5]
Unpickled List: [1, 2, 3, 4, 5]