### Assignment-05 (Tuple)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty tuple and print it.

In [32]:
tup = (1,2,3)
tup

(1, 2, 3)

    Create a tuple of your favorite fruits and print it.

In [3]:
fruits = ('apple', 'banana', 'mango')
fruits

('apple', 'banana', 'mango')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [4]:
mix = (1, 'apple', 2.14)
mix

(1, 'apple', 2.14)

  Access the first element of a tuple.

In [5]:
tup = ('a', 'b', 'c', 'd', 'e', 'f')
tup[0]

a

    Access the last element of a tuple.

In [6]:
tup = ('a', 'b', 'c', 'd', 'e', 'f')
tup[-1]

f

Access the second and third elements of a tuple.

In [8]:
tup = ('a', 'b', 'c', 'd', 'e', 'f')
print(tup[1], tup[2])

b c


    Slice a tuple to extract the first three elements.

In [31]:
tup = ('a', 'b', 'c', 'd', 'e', 'f')
tup[:3]

('a', 'b', 'c')

Slice a tuple to extract the last three elements.

In [11]:
tup = ('a', 'b', 'c', 'd', 'e', 'f')
tup[3:]

('d', 'e', 'f')

   Slice a tuple to get every second element.

In [30]:
tup = ('a', 'b', 'c', 'd', 'e', 'f')
tup[1::2]

('b', 'd', 'f')

    Reverse a tuple using slicing.

In [29]:
tup = ('a', 'b', 'c', 'd', 'e', 'f')
tup[::-1]

('f', 'e', 'd', 'c', 'b', 'a')

Create two tuples and concatenate them.

In [28]:
tup_1 = ('a', 'b', 'c')
tup_2 = ('d', 'e', 'f')
tup_3 = tup_1 + tup_2
tup_3

('a', 'b', 'c', 'd', 'e', 'f')

    Repeat a tuple multiple times using the repetition operator.

In [27]:
tup_1 = ('a', 'b', 'c')
tup_1 * 3

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

Find the index of a specific element in a tuple using the index() method.

In [26]:
tup_1 = ('a', 'b', 'c')
tup_1.index('a')

0

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [25]:
tup_1 = ('a', 'a', 'b', 'c')
tup_1.count('a')

2

Sort a tuple of numbers in ascending order.

In [36]:
tup = (3,2,1)
sorted(tup)

[1, 2, 3]

    Sort a tuple of strings in alphabetical order.

In [37]:
tup = ('z', 'x', 'y', 'w')
sorted(tup)

['w', 'x', 'y', 'z']

Sort a tuple of tuples based on the second element of each inner tuple.

In [41]:
tup = ((1,2), (1, 3), (1, 4), (2,1))
sorted(tup, key=lambda x: x[1])

[(2, 1), (1, 2), (1, 3), (1, 4)]

Compare two tuples to see if they are equal in both value and identity.

In [44]:
tup_1 = (1,2,3)
tup_2 = (1,2,3)
print(tup_1 == tup_2)

True

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

In [52]:
# Original tuple with a list as an element
original_tuple = (1, [2, 3], 4)

# Shallow copy by creating a new tuple with the same elements
shallow_copy_tuple = tuple(original_tuple)

# Print the original and shallow copy tuples
print("Original Tuple:", original_tuple)
print("Shallow Copy Tuple:", shallow_copy_tuple)

# Modify the mutable element in the shallow copy
shallow_copy_tuple[1][0] = 'X'

# Print the modified tuples
print("\nAfter Modifying Shallow Copy:")
print("Original Tuple:", original_tuple)
print("Shallow Copy Tuple:", shallow_copy_tuple)

Original Tuple: (1, [2, 3], 4)
Shallow Copy Tuple: (1, [2, 3], 4)

After Modifying Shallow Copy:
Original Tuple: (1, ['X', 3], 4)
Shallow Copy Tuple: (1, ['X', 3], 4)

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

    Pickle a tuple and save it to a file.

    Unpickle a tuple from a file and display its content.